.alignCenterClass{
  text-align: center;
}

.App-header img {
  max-width: 40vw;
  margin: 5vh 0;
}

.centerTextClass{
  text-align: center;
}

.WeatherImg{
  height: 8rem;
  width: 8rem;
}

.currentWeatherDiv{
  padding: 1.5rem;
  padding-left: 5rem;
  border-radius: 30px 30px 30px 30px;
  border-style: solid;
}

